$backgroundGray: rgba(66, 66, 76, 0.9);
$backgroundBlack: rgba(0, 0, 0, 0.5);
$backgroundWhite: rgba(255, 255, 255, 0.5);
$sunset: #ff4742;
$textGray: rgb(78,79,80);
$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$teal: #1cb495;
$teal-bright: #1fcaa7;